{% extends 'base.html' %}
{% load static %}
{% block base %}
<div class="m-10 p-5 bg-white rounded-xl shadow-lg">
  <div class="mx-20 bg-cyan-100 p-5 mb-12 shadow-xl rounded-md">
      
  </div>

  <!-- present events -->
  <hr>
  <div class="grid grid-cols-6 p-4">
      <div class="col-span-2">
        <!-- 110*55 -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm8p2B_fwYeCFZW-MQMKvndVE8XacD9rQhWg&usqp=CAU" alt="loading"> 
      </div>

      <div class="col-span-2">
        <div class="grid grid-rows-3">
          <div>
              Event Name
          </div>
          <div>
              Description
          </div>
        </div>
      </div>

      <div>
        <button>Hii</button>
      </div>

      <div>
        <button>View Details</button>
      </div>
  </div>
  <hr>
  <div class="grid grid-cols-6 mt-2 p-4">
    <div class="col-span-2">
      <!-- 110*55 -->
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm8p2B_fwYeCFZW-MQMKvndVE8XacD9rQhWg&usqp=CAU" alt="loading"> 
    </div>

    <div class="col-span-2">
      <div class="grid grid-rows-3">
        <div>
            Event Name
        </div>
        <div>
            Description
        </div>
      </div>
    </div>

    <div>
      <button>Hii</button>
    </div>

    <div>
      <button>View Details</button>
    </div>
</div>
<hr>
</div>
<div class="flex justify-center">
  <p class="font-semibold text-2xl ">Upcoming Events</p>
</div>
<!-- upcoming events. -->
<div class="mx-20 my-10 p-5 bg-white rounded-xl shadow-lg">
  <hr>
  <div class="grid grid-cols-6 p-4">
      <div class="col-span-2">
        <!-- 110*55 -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm8p2B_fwYeCFZW-MQMKvndVE8XacD9rQhWg&usqp=CAU" alt="loading"> 
      </div>

      <div class="col-span-2">
        <div class="grid grid-rows-3">
          <div>
              Event Name
          </div>
          <div>
              Description
          </div>
        </div>
      </div>

      <div>
        <button>Hii</button>
      </div>

      <div>
        <button>View Details</button>
      </div>
  </div>
  <hr>
</div>
{% endblock %}