{% extends 'base.html' %}
{% load static %}
{% block base %}
<div class="m-10 p-5 bg-base-100 rounded-xl">
  <div class="lg:mx-32 md:mx-24 sm:mx-12 bg-white p-4 mb-12 rounded-md">
    <div class="grid grid-cols-6 ml-12">
      <div class="col-span-5">
        <input type="text" placeholder="   Enter the Event name here..." class="w-full rounded outline outline-offset-2 outline-[#8326e1] mt-2">
      </div>
      <div>
          <button class="ml-6 p-2 rounded  bg-[#8336e1] text-white ">Search</button>
      </div>
    </div>
  </div>

  <!-- present events -->
  <hr>
  <div class="grid grid-cols-6 p-4 gap-2">
      <div class="col-span-2">
        <!-- 110*55 -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm8p2B_fwYeCFZW-MQMKvndVE8XacD9rQhWg&usqp=CAU" alt="loading"> 
      </div>

      <div class="col-span-2">
        <div class="grid grid-rows-3 mt-2">
          <div>
              Event Name
          </div>
          <div>
              Description
          </div>
        </div>
      </div>

      <div class="mt-12">
        <button>Hii</button>
      </div>

      <div class="mt-12">
        <button>View Details</button>
      </div>
  </div>
  <hr>
  <div class="grid grid-cols-6 mt-2 p-4 gap-2">
    <div class="col-span-2">
      <!-- 110*55 -->
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm8p2B_fwYeCFZW-MQMKvndVE8XacD9rQhWg&usqp=CAU" alt="loading"> 
    </div>

    <div class="col-span-2 mt-2">
      <div class="grid grid-rows-3">
        <div>
            Event Name
        </div>
        <div>
            Description
        </div>
      </div>
    </div>

    <div class="mt-12">
      <button>Hii</button>
    </div>

    <div class="mt-12">
      <button>View Details</button>
    </div>
</div>
<hr>
</div>
<div class="flex justify-center">
  <p class="font-semibold text-2xl ">Upcoming Events</p>
</div>
<!-- upcoming events. -->
<div class="mx-20 my-10 p-5 bg-white rounded-xl shadow-lg">
  <hr>
  <div class="grid grid-cols-6 p-4 gap-2">
      <div class="col-span-2">
        <!-- 110*55 -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm8p2B_fwYeCFZW-MQMKvndVE8XacD9rQhWg&usqp=CAU" alt="loading"> 
      </div>

      <div class="col-span-2">
        <div class="grid grid-rows-3">
          <div>
              Event Name
          </div>
          <div>
              Description
          </div>
        </div>
      </div>

      <div>
        <button>Hii</button>
      </div>

      <div>
        <button>View Details</button>
      </div>
  </div>
  <hr>
</div>
{% endblock %}