<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Management</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <!-- navbar -->
  <div class="navbar bg-[#8336e1] text-white fixed-top">
    <div class="flex-none">
        <img src="{% static 'images/image.png' %}" alt="loading" height="75" width="60" class="fill-white">
    </div>
    <div class="flex-1">
      <a class="btn btn-ghost text-2xl">Event Management</a>
    </div>
    <div class="flex-none">
      <button class="btn btn-square btn-ghost text-xl mb-1">
        Login
      </button>
    </div>
    <div class="flex-none">
      <button class="btn btn-square btn-ghost text-xl">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-7 stroke-current text-white"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </button>
    </div>
  </div>
  <!-- navbar -->

  {% block base %}

  {% endblock %}

  <!-- footer -->
  <footer class="footer footer-center p-4 bg-[#6b2fdf] text-base-content text-white fixed-bottom">
    <aside>
      <p>Copyright © 2023 - All rights reserved by Kumaraguru School of Innovation.</p>
    </aside>
  </footer>
  <!-- footer -->

</body>
</html>